.login-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.login-Button {
  color: #021826;
  background-color: #91c4d9;
}

button {
  border: none;
}

.modal {
  width: 300px;
  color:#245C73;
  background: white;
  position: relative;
  z-index: 3;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);
  }

  .modal-button {
    color: #021826;
    background-color: #91c4d9;
  }

  .demo {
    color: #4B8CA6;
  }

  .modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .7);
  }
  

  