.results, p {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.results {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
  width: 100%;
  justify-content: center;
}

.list ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

p {
  margin: 0 auto;
  max-width: 650px;
}



.store {
  flex: 1 0 200px;
  background-color: #245C73;
  color: rgba(255,255,255, 0.97);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-family: Helvetica, sans-serif;
  border-radius: 20px;
  display: grid;
  place-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.h3 {
  color: #4B8CA6;
  display: flex;
  justify-content: center;
}

.fav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  border-radius: 10px;
}

.fav-button:hover {
  color: #91C4D9;
  background-color: #4B8CA6;
}

.fav-button:focus {
  color: #91C4D9;
  background-color: #0A3140;
}

.store-name {
  display: flex;
  justify-content: center;
  color: rgba(255,255,255, 0.97);
}

.directions {
  color: #021826;
}

.store-list {
  display: flex;
  flex-direction: column;
  position: relative;
}


@media screen and (min-width: 600px) {
  .store-list {
    flex-direction: row;
  }
}
