.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search-bars {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.select-header {
  color: #4b8ca6;
  margin: 0;
}
